[Desktop Entry]
Version=1.0
GenericName=Movie discovery application
Name[en_US]=MovieSquare
Comment= Discover Movies you want to watch
Name=MovieSquare
Type=Application
Icon=${SNAP}/meta/gui/icon.png
Keywords=movies;search;discover;orion
Exec=moviesquare %F
Categories=Network;Utility;Qt;
Terminal=false
StartupNotify=false
