[Desktop Entry]
Version=1.0
GenericName=Discovery new Movies
Name[en_US]=MovieSquare
Comment= Discover Movies you want to watch
Name=MovieSquare
Type=Application
Icon=moviesquare
Keywords=movies;search;discover;orion
Exec=moviesquare %F
Categories=Video;Utility;Qt;
Terminal=false
StartupNotify=false
